
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ysabeau:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&family=Ysabeau:wght@300&display=swap');


   
   body{
    background-color: rgba(232, 232, 232);
   }
   .main{
    margin: 0px;
   
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 30px;
   }
   .instruction-box {
    background-color: gray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin:auto;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    
  }
  
  .content-box {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    font-size: 40px;
    font-family: 'Ysabeau', sans-serif;
  }
  .head{
    font-size: 40px;
    margin-left: 90px;
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
  }
  button {
    padding: 10px 20px;
    border: none;
    font-size: 40px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    margin-left: 3em;
    margin-top: 50px;
    
    
  }